<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Eat a Burger</title>
  <!-- Latest compiled and minified CSS & JS -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="./css/styles.css">
	</head>
	<body>
		{{{ body }}}
	</body>
	<script src="/js/burgertime.js"></script>
</html>
