<h1>Eat Da Burger</h1>

<h3>Enter a burger below! Eat it? Click Devoured!</h3>

<div id="burgerContainer">
  <div id="unEaten">
    <h2>Burgers to Devour! NOM NOM</h2>
    <ul>
      {{#each burger}}
        {{#unless devoured}}
        	 {{> burgers/burgers devoured=false}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div id="eaten">
    <h2>Devoured Burgers! TASTY</h2>
    <ul>
      {{#each burger}}
        {{#if devoured}}
        	{{> burgers/burgers devoured=true}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
<div>
  <form action="/" method="POST">
  	<textarea type="text" name="burgerForm" id="burgerForm"></textarea>
    <button type="submit" id="burgerBTN">Add a Burger</button>
  </form>
</div>
