body{
  background-color: yellow;
  font-family: 'Concert One', cursive;
  color:#4F3C0E;
  background: #FEF17F url("../img/bg_tile-8.png") repeat top left;
}
#daBurger{
  width:150px;
  height:130px;
  margin: 0 auto 20px auto;
  background: url("../img/burger.svg") no-repeat center top;
}
h1{
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  text-align: center;
  margin: 0 0 12px 0;
  padding: 0;
}
h2{
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  text-align: center;
  margin: 0;
  padding: 0;
}
h3{
  font-size: 18px;
  text-align: left;
  margin: 0 0 16px 0;
  padding: 0;
}
#burgerWrapper{
  margin-top: 20px;
  height: auto;
  max-height: 300px;
  overflow-y: scroll;
}
button{
  font-family: 'Concert One', cursive;
}
.change-eat,
#burgerBTN {
  display: inline-block;
  margin: -4px 0 0 10px;
  border-radius: 8px;
  padding: 0 0 5px 0;
  font-size: 14px;
  color: #FFF;
  height: 43px;
  text-transform: uppercase;
  text-align: center;
  float: left;
}
.change-eat {
  background-color: #EF4136;
  box-shadow: 0 6px 0 #A52926;
  border: 3px solid #A52926;
  width: 100px;
}
.change-eat:active{
  box-shadow: 0 2px 0 #A52926;
  transform: translate(0, 4px);
}
#burgerContainer{
  width:568px;
  height: auto;
  margin: 50px auto 0 auto;
  padding: 0 0 80px 0;
}
#unEaten{
  float:left;
  width:336px;
  height: auto;
}
ul{

}
ul li{
  height: 46px;
  list-style: none;
  margin: 0 0 16px 0;
  display: block;
}
ul li p{
  width: 196px;
  height: 33px;
  padding: 8px 0 0 10px;
  margin: 0;
  display: inline-block;
  float: left;
  border-radius: 10px;
}
#unEaten ul li{
  width: 336px;
}
#unEaten ul li p{
  border:3px solid #E7B35B;
  background-color: #FFE550;
}
#eaten{
  float: left;
  width: 212px;
  margin-left: 20px;
}
#eaten ul li{
  width:210px;
}

#eaten ul li p{
  border:3px solid #4F3C0E;
  background-color: #E7B35B
}
#burgerFormArea{
  clear: both;
width: 100%;
height: auto;
margin: 20px auto 0 auto;
border-top: 3px solid #E7B35B;
padding: 30px 0 0 0;
}
#burgerFormArea form{
  clear: both;
  width: 440px;
  margin: 0 auto;
}
#burgerForm{
  resize: none;
  border: 2px solid #E7B35B;
  border-radius: 10px;
  width: 180px;
  height: 18px;
  margin: 0 20px 0 0;
  padding: 8px 10px 14px;
  font-family: 'Concert One', cursive;
  float: left;
  font-size: 16px;
}
#burgerBTN{
  background-color: #009444;
  box-shadow: 0 6px 0 #014C21;
  border: 2px solid #014C21;
  width: 206px;
  float:left;
}
#burgerBTN:active{
  box-shadow: 0 2px 0 #014C21;
  transform: translate(0, 4px);
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
